<div *ngIf="showMessage" class="welcome-message">
    <h1 class="animated-text">С 8 марта, любимая❤️</h1>
    <h2 class="animated-text">Я прекрасно понимаю, что ты и так догадаешься, что я тебе подарил бы ❤️, но чтобы это не было так просто, я хочу, чтобы ты сама догадалась, что именно. </h2>
    <h2 class="animated-text">Разгадка будет состоять из трёх слов, которые тебе нужно будет отгадать по отдельности.</h2>
    <button class="animated-text" mat-raised-button (click)="openQuiz()">Поехали?</button>
</div>
<div *ngIf="!showMessage" class="quiz">
    <app-quiz></app-quiz>
</div>
  