mat-tab-group{
    width: 100vw;
    margin-bottom: 500px;
}

.example-form-field{
    width: 80px;
    padding: 0;
}

.question{
    font-size: 17px;
    margin-bottom: 60px;
    text-align: center;
}

.mat-elevation-z4{
    margin-top: 100px;
}
mat-form-field{
    margin-left: 90px
}

input {
    text-align: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center; 
    z-index: 9999;
}

.correct-answer-tab .mat-tab-body-content {
    color: #c8e6c9 !important;
}