<mat-tab-group>
  <mat-tab label="Загадка 1" [ngClass]="{'correct-answer-tab': isAnswerCorrect[0]}">
    <div class="example-large-box mat-elevation-z4">
      <p class="question">В нём тайна, что манит взгляды,<br>
        Искрится в улыбке сладострасть.<br>
        Не скажешь, что вещь, не поймаешь в ладони,<br>
        Но сердце к себе манит на раз.<br>
        <br>
        В его присутствии сердца стучат чаще,<br>
        Он – ключ к душам, невидим и влекущ.<br>
        Как назовешь ты то, что без касаний касается,<br>
        Оставляя в душе светлый след и теплый луч?<br>
      </p>
      <mat-form-field class="example-full-width">
        <input
            matInput
            [formControl]="codeForm1"
            placeholder="_ _ _ _"
            (input)="limitInput($event, 4)"
            (input)="checkAnswer(0, $event)"
            />
          <mat-icon *ngIf="isAnswerCorrect[0]" class="icon" svgIcon="done"></mat-icon>  
      </mat-form-field>
    <h1></h1>
    </div>

  </mat-tab>

  <mat-tab label="Загадка 2" [ngClass]="{'correct-answer-tab': isAnswerCorrect[1]}"> 
    <div class="example-large-box mat-elevation-z4">
      <p class="question">В бокале пенится секрет,<br>
        Из солода рожденный свет.<br>
        Не вино и не пивко,<br>
        Загадай, что в руке твоё?<br>
        <br>
        Любит он путешествия издалека,<br>
        Хмель его душа, а вкус – от мечта.<br>
        Северной страны дарит он вкус,<br>
        Найди ответ, отгадай же ты вдруг.<br>
      </p>
      <mat-form-field class="example-full-width">
        <input
            matInput
            [formControl]="codeForm2"
            placeholder="_ _ _"
            (input)="limitInput($event, 3); checkAnswer(1, $event)"
            />
            <mat-icon *ngIf="isAnswerCorrect[1]" class="icon" svgIcon="done"></mat-icon>  
      </mat-form-field>
      <h1></h1>
    </div>

  </mat-tab>

  <mat-tab label="Загадка 3" [ngClass]="{'correct-answer-tab': isAnswerCorrect[2]}"> 
    <div class="example-large-box mat-elevation-z4">
      <p class="question">
        В пустыне живет король, не простой,<br>
        В его владениях песок золотой.<br>
        Он ведет за собой верблюдов караван,<br>
        В его шатрах найдешь и воду, и хлеб, и уран.<br>
        <br>
        Его богатство не счесть, не измерить,<br>
        И все желают с ним дружбу заверить.<br>
        На голове турбан, в руке – скипетр мира,<br>
        Он мудр и справедлив, не знает гнева, лишь мира.<br>
        <br>
        Кто он? Подумай, не спеши,<br>
        Ведь ответ скрыт в пустынной дали.<br>
      </p>
      <mat-form-field class="example-full-width">
        <input
            class="input-field"
            matInput
            [formControl]="codeForm3"
            placeholder="_ _ _ _"
            (input)="limitInput($event, 4); checkAnswer(2, $event)"
            />
            <mat-icon *ngIf="isAnswerCorrect[2]" class="icon" svgIcon="done"></mat-icon>  
      </mat-form-field>
      <h1></h1>
    </div>
  </mat-tab>
</mat-tab-group>

<h2 class="fixed-bottom">
  @if (isAnswerCorrect[0]) {
    ШАРМ -
  }
  @if (isAnswerCorrect[1]) {
    ЭЛЬ - 
  }
  @if (isAnswerCorrect[2]) {
    ШЕЙХ  
  }
  <button mat-fab @if [disabled]="!(isAnswerCorrect[0] && isAnswerCorrect[1] && isAnswerCorrect[2])" (click)="openGoogleMaps()"  aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</h2>

