<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-form-field class="example-form-field">
        <mat-label>1 слово</mat-label>
        <input matInput type="text" [(ngModel)]="value">
      </mat-form-field>
    </ng-template>
    <p class="question">То не вещество, не цвет, не звук,
      Но оно притягивает взгляд.
      В нём магия простых слов и взгляда огня,
      Он в сердце живёт, не купишь за деньги его.
      Что это такое, скажи-ка, дружок,
      Что делает мир ярче в любой его уголок?</p>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-form-field class="example-form-field">
        <mat-label>2 слово</mat-label>
        <input matInput type="text" [(ngModel)]="value">

      </mat-form-field>
    </ng-template>
    <p class="question">Не вино, не водка, не сидр, не ром,
      В бокале пенится, но не домашний ком.
      Из ячменя рождается, в пивоварне взрастает,
      С хмелем он дружит, жажду утоляет.
      Старинный напиток, что пьют под закусь,
      Его любят вечером, в холоде и в жару.
      Что это за напиток, скажи на раз-два,
      Что имя носит короткое, да?</p>
  </mat-tab>
-
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-form-field class="example-form-field">
        <mat-label>3 слово</mat-label>
        <input matInput type="text" [(ngModel)]="value">
      </mat-form-field>
    </ng-template>
    <p class="question">Он не король, но власть имеет в руках,
      Не маг, но чудеса творит под звёздных ночей.
      В пустыне его дом, оазис его сад,
      Его слово — закон для его народа.
      Богат, но не жаден, мудр — не учёный,
      В его руках мечта пустынных сонетов.
      Кто он? Вопрос несложный, дай ответ:
      Восточный владыка, но не султан и не царь.</p>
  </mat-tab>
</mat-tab-group>
